#B-box{
    width: 1340px;
}
#B-left,#B-right{
    float: left;
}
#B-left{
    width: 180px;
    height: 660px;
    background: #35514c;
    color: white;
}

#B-name{
    background: #264743;
    height: 50px;
    padding-left: 1em;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 20px;
}

#B-user{
    padding: 10px 0 10px 20px;
    border-top: #07957c 1px solid;
    border-bottom: #07957c 1px solid;
    margin-bottom: 20px;
}

#B-head{
    float: left;
    width: 60px;
    height: 60px;
    border: #07957c 2px solid;
    border-radius: 50%;
}
#B-user-name>span{
    font-size: 18px;
    line-height: 60px;
    padding-left: 1em;
    font-weight: bold;
}







#B-tab>ul>li{
    height: 49px;
    line-height: 50px;
    padding-left: 1em;
    font-size: 14px;
}
#B-tab>ul>li>a{
    padding-left: 10px;
    color: white;
    text-decoration: none;
}
#B-tab>ul>li>span{
    padding-left: 1em;
}
#B-tab>ul>li>img{
    height: 40px;
    padding-left: 2em;
}
#B-right{
    padding: 10px 10px 10px 10px;
    width: 1160px;
    height: 660px;
}
#B-right-box{
    width: 100%;
}
#B-right-logo>div{
    float: left;
}
#B-right-logo{
    padding: 10px 0 20px 0;
}
#B-right-exit{
    height: 52px;
    line-height: 52px;
    margin-left: 900px;
}
#B-right-exit>a{
    padding-left: 20px;
    color: #07957c;
    text-decoration: none;
}
iframe{
    width: 1130px;
    height: 550px;

}