* {
    margin: 0;
    padding: 0;
}
/*背景*/
#B-mask{
    background: url("../images/bg.jpg") center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*登录框*/
#B-box{
    background: rgba(255,255,255,0.6);
    box-shadow: #aeaeae 4px 4px 8px 2px;
    border-radius: 10px;
    padding: 60px 30px 60px 75px;
    margin-top: 80px;
    width: 400px;
    position: relative;
}
/*logo*/
#B-imgs{
    width: 100%;
    margin-left: -20px;
    text-align: center;
}
/*标题*/
h2{
    width: 100%;
    text-align: center;
    margin-left: -30px;
}
/*设置输入框高度*/
#B-user{
    width: 210px;
}
#B-pass{
    width: 210px;
}
/*判断对错显示或隐藏*/
.remind{
    display: none;
}
.remind>span{
    font-size: 28px;
}
.red{
    color: red;
}
.greed{
    color: green;
}
/*输入框获取焦点的颜色*/
.form-control:focus {
    border-color: #80b3ad;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #77b4ad;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #77b4ad;
}
/*按钮的颜色*/
.btn{
    width: 253px;
    background: #3D5F59;
    color: white;
}
/*鼠标移入按钮的颜色*/
.btn-default:hover {
    color: white;
    background-color: #35514c;
    border-color: #35514c;
}
.content{
    height: 16px;
    text-align: center;
    font-size: 10px;
}
/*弹框*/
#B-mask-end{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: relative;
    display: none;
}
#B-end{
    z-index: 999;
    background: white;
    width: 300px;
    height: 185px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 50px;
    border-radius: 8px;
    box-shadow: #35514c 4px 4px 12px 1px;
}
#B-top{
    border-bottom: #35514c 1px solid;
    width: 100%;
    height: 50px;
    font-size: 18px;
    text-align: left;
    line-height: 50px;
    padding-left: 1em;

}
#B-content{
    width: 100%;
    height:80px;
    line-height: 25px;
    padding-top: 1em;
    text-align: left;
}
#ok{
    width: 150px;
}
#ok>a{
    color: white;
    text-decoration: none;
}