* {
    margin: 0;
    padding: 0;
}
.layui-container{
    width: 100%;
}
/*.left{*/

    /*float: left;*/
/*}*/
.ipt{
    width: 350px;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 150px;
}
.btn{
    width: 70px;
    height: 30px;
    color: white;
    background: #49ACDB;
    border: none;
    position: absolute;
    top: 80px;
    right: 55px;
    border-radius: 5px;
}
.annou{
    width: 32%;
    height: 500px;
    border: 1px solid gainsboro;
    position: absolute;
    top: 150px;
    right: 140px;
}
li{
    border-bottom: 1px solid gainsboro;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li h3{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
}

li p{
    width: 100%;
    text-indent: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}