@font-face {
    font-family: 'iconfont2';
    src: url('../font/L-font/iconfont.eot');
    src: url('../font/L-font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/L-font/iconfont.woff2') format('woff2'),
        url('../font/L-font/iconfont.woff') format('woff'),
        url('../font/L-font/iconfont.ttf') format('truetype'),
        url('../font/L-font/iconfont.svg#iconfont') format('svg');
  }

  .iconfont2 {
    font-family: "iconfont2" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.9;
  }


  ul{
      padding: 0;
      list-style: none;
  }
  button,input{
   border:none;
   background: #fff;
   outline: none;
  }

/* 头部导航 */
#el-picturebox{
    width: 100%;
    font-size: 16px;
    padding: 30px 15px 0 15px;
}

/* .el-list{
    width: 100%;
    padding:0;
}

.el-list li{
   list-style:none;  
   float: left; 
} */


 /* 1盒子 */
.el-cont{
    padding: 30px 0;
}
.el-nav{
    font-weight: bold;
    border-bottom: 1px solid #cfcfcf;
}
 .el-buttonbox button {
  border:none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
}

 .el-buttonbox .el-p{
    background-color:#e6a715;
    font-size: 14px;
    
}
.el-buttonbox .el-p:hover{
    background-color:#d69909;
}
.el-buttonbox .el-c{
    background-color:#e6a715;
    margin-left: 10px;
}

.el-buttonbox .el-c:hover{
    background-color:#d69909;
}

.el-pictures{
    padding: 5px 0;
}

.el-pictures .el-pisingle{
    width: 190px;
    padding: 10px 10px 0 10px ;
    background-color: #ebebeb;
    float: left;
    margin-right:1%;
    margin-top: 10px;
    position: relative;
}


.el-pictures .el-pisingle .el-img{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position:relative;
}

.el-pictures .el-pisingle .el-img img{
    margin:-20px 0  0 -30px;
     
}
.el-pictures .el-pisingle .el-img a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.el-pictures .el-pisingle span{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 36px;
    color: #fff;
    z-index: 55;
    
}

 .el-pictures .el-pisingle .el-img:after{
   content: "";
   width: 100%;
   height: 100%;
   background: #313131;
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0.3;
   z-index: 22;
}   



.el-pisingle p{
    margin-top: 10px;
}


/* 下拉功能 */
.el-downbox .el-downlist{
    position: absolute;
    right: 16px;
    top: 48px;
    z-index: 300;
   
}

.el-downbox .el-downlist {
   display: none;
}
.el-downbox .el-downlist li{
    background-color: #fff;
    padding: 8px 30px;
    color: #575757;
    cursor: pointer;
}
.el-downbox .el-downlist li:hover{
    background-color: #f8f7f7;
}


.el-downbox button{
    width: 30px;
   height: 30px;
   border: 1px solid #d4d4d4;
   position: absolute;
   right: 16px;
   top: 16px;
   z-index: 300;
   display: none;
}





/* ---------编辑弹框 --------*/
.GQL-Elastic{
    width: 400px;
    height: 300px;
    border: 1px solid #333333;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 4px;
    background: white;
    font-size: 14px;
    padding: 20px;
}
.GQL-mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.GQL-big-box{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* display: none; */
    z-index: 99999;
   
}
.GQL-Elastic-box1{
    position: absolute;
    top: 30px;
    left: 38px;
}
.GQL-span1{
    margin-right: 9px;
}
.GQL-Elastic-box1 input{
    width: 228px;
}
.GQL-span2{
    margin-left: 9px;
}
.GQL-Elastic-box2{
    position: absolute;
    top: 83px;
    left: 106px;
}
.GQL-span3{
   position: absolute;
    top: 2px;
    left: -67px;
}
.GQL-text{
    width: 229px;
}
.GQl-span4{
    position: absolute;
    top: 4px;
    left: 238px;
}
.GQL-Elastic-box3{
    position: absolute;
    top: 179px;
    left: 62px;
}
.GQL-Elastic-box4{
    position: absolute;
    top: 228px;
    left: 42px;
}
.GQL-Elastic-box5{
    margin-top: 271px;
    margin-right: 9px;
    
}

.GQL-input1{
    border:1px solid #ccc;
    height: 30px;
}

.GQL-Elastic-box5 {
    margin-top: 220px;
    margin-right: 9px;
}

